.container{
    display: grid;
    grid-template-columns: repeat(8,1 fr);
    grid-template-rows: 200px 600px 200px;
    grid-auto-flow: column;
    grid-template-areas:
    "hd"
    "sub"
    "ft";
}